.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #3168d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-body {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center; 
  flex-direction: column;
}

.Button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.Button, .Timer-progress-bar {
  width: 200px; 
  height: 40px;
}

.Stack {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Timer-progress-bar {
  position: relative;
}

.Timer-button {
  position: absolute;
  z-index: 1;
}